{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ name }} ! Sent you a message :

{{ body }}

{# example, assuming you have a route named "login" #}
To login, go to: <a href="#">this link</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
