{% extends 'base.html.twig' %}
	{% block body %}
		<div class="container">
				<ul>
  
				        <li> {{user.firstname}} </li>
				        <li> prenom </li>
								  
						<br />
				   		<a href="/"> >> Go Back << </a>    	
				 

				   

				</ul>
		</div>
	{% endblock %}
